{% extends "page.html" %}

{% set active_page = "vocab" %}

{% block breadcrumbs %}
<p class="breadcrumbs"><a href="{{ url_for('index') }}">System Home</a> / <a href="{{ url_for('vocabularies') }}">Vocabularies</a></p>
{% endblock %}

{% block content %}
<div class="content-left">
  <div>
    <h1>{{ label }}</h1>
  </div>
  <div>
    <dl>
      <dt>URI</dt>
      <dd><strong><a href="{{ uri }}">{{ uri }}</a></strong></dd>
      {% if comment is not none %}
      <dt>Description</dt>
      <dd>{{ comment|safe }}</dd>
      {% endif %}
      {% if parent_container_uri is not none %}
      <dt>Parent Container</dt>
      {% if parent_container_label is not none %}
      <dd><a href="{{ parent_container_uri }}">{{ parent_container_uri }}</a></dd>
      {% else %}
      <dd><a href="{{ parent_container_uri }}">{{ parent_container_label }}</a></dd>
      {% endif %}
      {% endif %}
    </dl>
  </div>
  <div>
    <h3>Members</h3>
    <ul>
      {%- for member in members -%}
      <li><a href="{{ utils.get_content_uri(member[0]) }}">{{ member[1] }}</a></li>
      {%- endfor -%}
    </ul>
  </div>
</div>
<div class="content-right">
  {% include 'alt_link.html' %}
  <div class="filter">
    <h3>Filter</h3>
    <div class="filter-form">
      <form method="get" action="{{ url_for('vocabularies') }}">
        <input type="text" name="filter" value="{{ request.values.get('filter') if request.values.get('filter') }}" />
        <button>Filter</button>
        <span class="tooltip" style="font-weight:bold;">?<span class="tooltiptext">A simple text matching filter of the
            list content to the left</span></span>
      </form>
    </div>
    <form method="get" action="{{ url_for('vocabularies') }}">
      <button>Clear</button>
    </form>
  </div>
</div>

{% endblock %}