<div class="mainmenu-nav">
    <!--<a class="nav-link {% if active_page == 'home' %}active{% endif %}" href="{{ url_for('index') }}">System Home</a>-->
    <a class="nav-link {% if active_page == 'vocab' %}active{% endif %}" href="{{ url_for('vocabularies') }}">Vocabularies</a>
    <a class="nav-link {% if active_page == 'search' %}active{% endif %}" href="{{ url_for('search') }}">Search</a>
    <a class="nav-link {% if active_page == 'sparql' %}active{% endif %}" href="{{ url_for('sparql') }}">SPARQL</a>
    <a class="nav-link {% if active_page == 'about' %}active{% endif %}" href="{{ url_for('about') }}">About the System</a>
</div>